@{
    var widgetId = "EquitySuccessStories-" + Guid.NewGuid();
}

    <link href="~/Content/port-equitystories.css" rel="stylesheet" />

    <style>
        .ess-widget {
            padding: 0;
            overflow: hidden;
        }

        .media-body {
            width: auto;
        }

        .ess-widget .tab-pane {
            overflow-y: auto;
            max-height: 480px;
        }

        .ess-widget .media {
            margin-right: 5px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }

            .ess-widget .media:first-child {
                margin-top: 5px;
            }

            .ess-widget .media:nth-child(odd) .media-body,
            .ess-widget .media:nth-child(even) .attachment-html {
                background: #fafafa;
            }

            .ess-widget .media:nth-child(odd) .attachment-html {
                background: #fff;
            }

        .ess-widget .attachment-html {
            border: 1px solid #eee;
            padding: 5px;
            margin: 10px 0;
        }

        .ess-widget .media-left {
            padding-top: 1px;
        }

            .ess-widget .media-left img {
                border-radius: 25px;
            }

        .ess-widget .ess-controls {
            padding: 15px;
            margin-bottom: 15px;
        }

        .ess-widget .media-heading .poster {
            font-weight: bold;
            font-size: 16px;
            color: inherit;
            line-height: 30px;
        }

        .ess-widget .media-body {
            padding: 15px;
            margin: 0 0 10px;
            border-bottom: 1px solid rgba(167,173,180, .5);
            border-left-width: 1px;
            border-radius: 3px;
            display: block;
        }

        .ess-widget .group-link {
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 3px 7px;
            color: #333;
        }

            .ess-widget .group-link:hover {
                text-decoration: none;
                background-color: #f5f5f5;
                border-color: #ccc;
            }

        .ess-widget .thumb-list > div {
            display: inline-block;
        }

        .ess-widget .thumb-list img, .ess-widget .attachment-html img {
            max-width: 100%;
        }

        .ess-widget .thumb-list img {
            margin-right: 5px;
            margin-top: 10px;
        }

        .ess-widget .message-footer a {
            text-align: center;
        }

        /*.ess-widget .attachment-html img {
            max-width: 100%;
        }*/

        .ess-widget-footer {
            background: #F0F9FE;
            padding: 5px;
        }

        .ess-load-more {
            margin-top: 15px;
        }

        .ess-loading-more-messages {
            margin: 10px 0;
            text-align: center;
        }

        .ess-error {
            margin: 10px;
            font-style: italic;
        }

        .ess-title {
            font-weight: bold;
        }

        .ess-container {
            margin-top: 0px;
            padding: 0 22px 0 0px;
        }
        .ess-widget .footer {
            display: none;
            padding: 5px;
        }

    </style>

<div id="@widgetId" class="widget ess-widget">
    <div class="loading active"></div>
    <div class="widget-header port-land-background">
        <span>Equity Success Stories</span>
    </div>
    <div class="ess-controls">
        <div class="pull-left">
            <strong>Did you or your team break down barriers or create new opportunities? Tell us about it!</strong>
        </div>
        
    </div>

    <div class="ess-container"></div>

    <div class="footer">
        <a class="btn btn-sm btn-primary" href="@Url.Action("Index", "EquityStories")">More Stories</a>
        <a class="btn btn-sm btn-success pull-right" href="@Url.Action("CreateStory","EquityStories")">Submit Your Story!</a>
    </div>
</div>


    <script src="~/Scripts/port-equitystories.js"></script>

    <script type="text/javascript">
        
        $(document).ready(function () {
            $(".ess-container").EquityStories({
                maxHeight: "500px",
                containerClass: "mini-scroll",
                widgetId: '@widgetId',
                lazy: false,
                maxTake: 3,
                imagePathGenerator: function (data) {
                    var user = data;
                    return "Media/EmployeePhoto?id=" + user;
                }
            });
        });
    </script>

